@import url("http://www.w3.org/2000/svg");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hamburguerContainer {
  display: flex;
  justify-content: flex-end;
  margin: 31px 33px 31px 0;
}

/* Header */

.header {
  display: none;
}

.header .buttonsContainer {
  display: flex;
  /* justify-content: space-around; */
  width: 40%;
  gap: 20px;
  justify-content: flex-end;
}

.header .loginContainer {
  width: 120px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid #bdbdbd;
  box-shadow: 4px -4px 24px 0px rgba(94, 71, 71, 0.25);
  color: black;
}
.header .registerContainer {
  width: 120px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #ffc727;
  box-shadow: 4px -4px 24px 0px rgba(94, 71, 71, 0.25);
  color: white;
  border: none;
}
.principalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 49px;
}
.boxPrincipalContainer {
  width: 40vw;
}
.girlContainer {
  display: none;
}

.box-titlePrincipalContainer {
  margin-bottom: 15px;
}
.box-titlePrincipalContainer .titleCardTablet {
  color: #524242;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.71px;
}

.titleCardLaptop {
  display: none;
  color: #524242;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 119.5%; /* 43.02px */
  letter-spacing: -2.7px;
}
.box-detailPrincipalContainer spam {
  color: #524242;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.cardsPrinciaplContainer {
  border-radius: 50px 50px 0px 0px;
  background: #dfeaff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardSecondaryContainer {
  margin-top: 84px;
  margin-bottom: 94px;
}

.cardSecondaryContainer .card {
  display: flex;
  width: 284.832px;
  height: 359px;
  padding: 49px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;

  border-radius: 20px;
  background: #fff;
  margin-bottom: 34px;
}

.containerTextCard h2 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  align-self: stretch;
}

.footer {
  width: 65%;
  margin: 80px auto;
}

.footer .naziContainer {
  margin-bottom: 35px;
}

.footer .folowContainer {
  margin-bottom: 38px;
}

.footer .folowContainer h3 {
  color: #777;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 119.5%; /* 35.85px */
  letter-spacing: -2.25px;
}
.footer .folowContainer .logosContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.footer .folowContainer .logosContainer img {
  transform: translateX(20px);
  animation: float 2s ease-out infinite;
}

.footer .textContainer {
  margin-bottom: 30px;
}

.footer .textContainer span {
  color: #867b7b;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 119.5%; /* 16.73px */
  letter-spacing: 0.25px;
}

/* Navbar */

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}
/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}
/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #ffc727;
  color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: flex;
}

/* Mobile */

@media screen and (min-width: 426px) {
  .hamburguerContainer {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 90%;
  }

  .principalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
  }

  .girlContainer {
    display: flex;
  }
  .cardSecondaryContainer {
    margin-top: 84px;
    margin-bottom: 94px;
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  .cardSecondaryContainer .card {
    display: flex;
    width: 30%;
    height: 359px;
    padding: 49px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
    margin-bottom: 34px;
  }

  .footer {
    width: 88%;
    height: 179px;
    margin: 80px auto;
    position: relative;
  }

  .footer .naziContainer {
    margin-bottom: 35px;
    position: absolute;
    left: 0px;
  }
  .footer .folowContainer {
    margin-bottom: 38px;
    width: 25%;
    right: 0px;
    position: absolute;
  }
  .footer .textContainer {
    margin-bottom: 30px;
    position: absolute;
    bottom: 0px;
    width: 24%;
  }
  .topnav {
    display: none;
  }
}

/* Laptop */

@media screen and (min-width: 1023px) {
  .principalContainer {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .boxPrincipalContainer {
    width: 17vw;
  }
  .titleCardLaptop {
    display: block;
  }

  .cardSecondaryContainer .card {
    display: flex;
    width: 30%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    background: #fff;
    margin-bottom: 45px;
  }

  .containerTextCard h2 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    align-self: stretch;
    margin-top: 20px;
  }
}

/* nuevo */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 425px) {
  .topnav {
    background-color: #fff;
  }

  .topnav .active {
    display: none;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 475px) {
  .topnav.responsive {
    position: relative;
    margin-bottom: 30px;
    border: 2px solid #ffc727;
    border-radius: 20px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: -7px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    color: #000;
  }

  .header {
    display: flex;
    width: 100vw;
  }
  .header img {
    display: none;
  }
  .header .buttonsContainer {
    display: flex;

    width: 100vw;
    gap: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 1023px) {
  .principalContainer {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .boxPrincipalContainer {
    width: 15vw;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
