* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100vw;
  background-color: #fff159;
  /* display: flex; */
  /* justify-content: center;
  background-color: #fff159;
  height: 40px; */
  /*  width: 100vh; */
}

.grid-container {
  display: grid;
  grid-template-columns: 20vw 50vw 30vw;
  grid-template-rows: 40px 40px;
  /* column-gap: 5px; */
  /* background-color: #fff159; */
  padding: 8px 10px 12px 10px;
}

.grid-container > div {
  /* background-color: #fff159; */
  text-align: center;
  font-size: 10px;
}
.item1 {
  position: relative;
}

.item1 img {
  max-height: 34px;
  position: absolute;
  left: 25px;
}

.item2 {
  border-radius: 2px;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1.5px;
  align-items: center;
}

.item2 input {
  font-size: 16px;
  width: 100%;
  border: none;
}

.item2 button img {
  color: rgb(184, 176, 176);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.divisor {
  background-color: #b3b2aa;
  width: 1px;
  margin-right: 8px;
  height: 120%;
}

.search-icon {
  background-image: url(https://img.icons8.com/android/24/000000/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.search-icon:hover {
  cursor: pointer;
}

.item3 {
  padding: 0px 15px 0 45px;
}

.item3 img {
  width: 100%;
}
.item3 img:hover {
  cursor: pointer;
}

.item4 {
  display: flex;
  flex-direction: row;
}

.item4 a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.item4 a img {
  height: 50%;
}

.box4 {
  text-align: justify;
}

.box4 :nth-child(1) {
  color: rgb(170, 159, 159);
  font-size: 10px;
}
.box4 :nth-child(3) {
  color: black;
  font-size: 12px;
}

.item5 {
  align-items: center;
  display: flex;
  font-size: 14px;
}

.item5 nav ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
}

.item5 nav ul li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.6;
}

.categorias {
  text-decoration: none;
  list-style: none;
  border: 0;
  border: none;
  background-color: #fff159;
}
/* header .brand-navbar {
  height: 100%;
  display: flex;
  align-items: center;
}

header .buttons-navbar {
  height: 100%;

  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header .buttons-navbar button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 18px;
}
nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 700;
} */
